

#imganimal{
    height: auto;
    max-width: 200px;
    
}
figure{
    display: flex; 
}
.gustos{
    padding-left: 20px;
}

.piePag{
    background-color: rgb(0, 68, 255);
    text-align: center;
}
